<h5>
    Elican-Pharma est réservé aux pharmaciens. Pour consulter les tarifs, passer commande et vous permettre d’accéder aux webinaires et ressources sur le CBD et les cannabinoïdes, vous devez vous inscrire. Votre compte sera validé par un pharmacien. Vous serez informé de la validation de votre compte par mail ou sms. 
</h5>